postgresql:
  image: sameersbn/postgresql:9.4-3
  environment:
    - DB_USER={your_db_user}
    - DB_PASS={tour_db_password}
    - DB_NAME=gitlabhq_production
  volumes:
    - /srv/docker/gitlab/postgresql:/var/lib/postgresql
gitlab:
  image: sameersbn/gitlab:7.13.5
  links:
    - redis:redisio
    - postgresql:postgresql
    - postfix:mailer
  environment:
    - VIRTUAL_HOST={your_sub_domain}
    - TZ=Asia/Kolkata
    - SMTP_ENABLED=true
    - SMTP_DOMAIN={your_sub_domain}
    - SMTP_HOST=mailer
    - SMTP_PORT=25
    - SMTP_USER={your_smtp_user}@{your_domain}
    - SMTP_PASS={your_smtp_password}
    - SMTP_STARTTLS=true
    - SMTP_AUTHENTICATION=login
    - GITLAB_TIMEZONE=Kolkata
    - GITLAB_HOST={your_sub_domain}
    - GITLAB_PORT=80
    - GITLAB_SSH_PORT=22
    - GITLAB_EMAIL=gitlab@{your_domain}
    - GITLAB_EMAIL_REPLY_TO=noreply@{your_domain}
    - GITLAB_BACKUPS=daily
    - GITLAB_BACKUP_TIME=01:00
  volumes:
    - /srv/docker/gitlab/gitlab:/home/git/data
redis:
  image: sameersbn/redis:latest
  volumes:
    - /srv/docker/gitlab/redis:/var/lib/redis
postfix:
  image: catatnight/postfix
  environment:
    - smtp_user={your_smtp_user}@{your_domain}:{your_smtp_password}
    - maildomain=smtp.{your_domain}
  ports:
    - "25"
